version: 2
updates:
  - package-ecosystem: maven
    directory: /
    ignore:
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    schedule:
      interval: monthly
    groups:
      minor-java-dependencies:
        # group minor/patch Maven updates into one PR; do not update major versions
        # (too likely to break something)
        update-types:
          - minor
          - patch
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      minor-actions-dependencies:
        # group minor/patch GHA updates into one PR; keep separate PRs for
        # major version updates so we can review them carefully
        update-types:
          - minor
          - patch
